span.c1
{
	background-color: #ffff00;
	color           : #ff0000;
}

span.c2
{
	background-color: #ff0000;
	color           : #ffffff;
}

span.c3
{
	color           : #ff0000;
}

span.c4
{
	color           : #05f505;
}