@using UIQ.Controllers

@{
    Layout = null;
    var data = ViewBag.Data;
}

<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">
<link rel="stylesheet" href="~/css/fjstyle.css" type="text/css">

<!DOCTYPE html>
<html lang="zh-hant">
    <head><title>Daily report</title></head>
    <body>
        <div id="loading" style="left: 50%; top: 50%; margin-left: 0px !important; margin-top: 0px !important; position: fixed !important; display: none;"><img alt="loading" src="~/images/clock.gif"></div>
        <div class="topic">Model enquire > Daily report</div>
            Daily log date:
            <select id="node" class="form">
                @foreach (var item in data)
                {
                    if(@item.ToString().Trim() != "")
                    {
                        <option>@item</option>
                    }
                }
            </select>
            <br><br>
            <input id="enquire" type="submit" value="enquire">
        <div id="result" class="huge"></div>

        <script>
            function setResultData(response){
				if(response.success){
					let dataHtml = ``;
					response.data.forEach(item => {
                        let data = htmlEncode(item);
                        dataHtml += `<span class="${(data.includes('fail') ? 'c3' : '')}">${data}</span><br>`; 
                    });

					$('#result').html(`<pre>${dataHtml}</pre>`);
				}
				else{
					alert(htmlEncode(response.message));
				}
			}

            $('#enquire').click(function(e){
				sendAJAXRequest('post', '@Url.Action(nameof(GetHtmlController.DailyResult), "GetHtml")', setResultData);
			});
        </script>
    </body>
</html>
