@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-hant">
    <head><title>Model Lo Files</title></head>
    <body>
        <iframe title="ModelLogFilesSub" class="model-log-files-sub" name="frame2" src="@Url.Action("ModelLogFilesSub")" style="height:1000px; width:33%;"></iframe>

        <iframe title="ModelLogFilesSub" class="model-log-files-sub" name="frame3" src="@Url.Action("ModelLogFilesSub")" style="height:1000px; width:33%;"></iframe>

        <iframe title="ModelLogFilesSub" class="model-log-files-sub" name="frame4" src="@Url.Action("ModelLogFilesSub")" style="height:1000px; width:32%;"></iframe>
    </body>
</html>
