@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-hant">
    <HEAD><TITLE>Model Lo Files</Title></Head>
    <body>
        <iframe title="ModelLogFilesSub" name="frame2" src="@Url.Action("ModelLogFilesSub")"></iframe>

        <iframe title="ModelLogFilesSub" name="frame3" src="@Url.Action("ModelLogFilesSub")"></iframe>

        <iframe title="ModelLogFilesSub" name="frame4" src="@Url.Action("ModelLogFilesSub")"></iframe>
    </body>
</html>
