@{
    Layout = null;
    string data = ViewBag.Data;
}

<link rel="stylesheet" href="~/css/style.css" type="text/css">

<title>Typhoon initial data</title>
<body>
    <div id="loading" style="left: 50%; top: 50%; margin-left: 0px !important; margin-top: 0px !important; position: fixed !important; display: none;"><img alt="loading" src="~/images/clock.gif"></div>
    <div class="topic">Models enquire > typhoon initial data</div>
    <h1>show the typhoon initial data</h1>
    <div class="enquire">
        <pre><br>
            @data
        </pre>
    </div>
</body>

