
@{
    ViewData["Title"] = "CronSetting";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />
        <link href="~/css/apprise.css" rel="stylesheet" type="text/css" />

        <title>Cron mode Setting</title>
    </head>
    <body>
        <div id="loading"><img src="./images/clock.gif"></div>
        <div class=topic>Cron mode Setting</div>
        <br>
        <h1>The page is used to CHANGE cron mode</h1>

        <table border=1 height=50px><tr>
                <td align=center width=150px bgcolor=pink><font size=5><input type=radio name=validation value=$i onClick='cron_change()' checked>Backup</font>
                <td align=center width=150px><font size=5><input type=radio name=validation value=$i onClick='cron_change()'>Normal</font>
                <td align=center width=150px><font size=5><input type=radio name=validation value=$i onClick='cron_change()'>Typhoon</font>
        </table>
        <br>
        <FORM id="cron_setting" name="cron_setting" action="@Url.Action("CronSetting")" method="post" onSubmit="return check()">
        <input type=submit value="Switch" style="width:100px">
        <input type=hidden id=cronmode name=cronMode>
        </FORM>

        <SCRIPT>

        function check(){
	        if(confirm('This will change the cron mode of ALL models. Are you sure?')){
		        return true;
	        }else{
		        alert("Cancelled");
		        return false;
	        }
        }
		
		
        function cron_change(){
                var radioList = document.getElementsByName("validation");
                var valid_group = "";
                for(var i=0; i<radioList.length; i++){
                        if (radioList[i].checked){
                                valid_group = radioList[i].value;
                                document.cron_setting.cronmode.value=valid_group;
                                break;
                        }
                }
        }
        </script>
    </body>
</html>


