@using UIQ.Controllers
@using UIQ.Enums
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-hant">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" href="~/css/style.css" type="text/css">
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="~/css/bootstrap/custom.css" type="text/css" />
        <link rel="stylesheet" href="~/packages/jtable/2.4.0/themes/lightcolor/gray/jtable.min.css" type="text/css">
        <link rel="stylesheet" href="~/packages/jtable/2.4.0/custom.css" type="text/css">

        <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/custom.min.js"></script>
        <script type="text/javascript" src="~/js/lib.min.js"></script>
        <script type="text/javascript" src="~/packages/jtable/2.4.0/jquery.jtable.js"></script>
        <script type="text/javascript" src="~/packages/jtable/2.4.0/custom.js"></script>

        <title>Upload File</title>
    </head>
    <body>
        <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
        <div class=topic>Download File</div>
		<div id="result" class="huge"></div>

		<script>
			$(function(){
				$('#result').initial_jtable({
                    config: CreateTable,
                    text: false
                });
			});
            
			function CreateTable() {
                return{
                    sorting: false,
                    pageSize: 20,
                    pageSizes: [10,20,25,50,100],
                    actions: {
                        listAction: '@(Url.Action(nameof(MaintainToolsController.GetUploadFile)))'
                    },
                    fields: {
                        file_id: {
                            title: 'SN',
                            width: '3%'
                        },
                        file_name: {
                            title: 'Name',
                            width: '3%'
                        },
                        create_datetime: {
                            title: 'Upload Time',
                            width: '4%',
                            display: function(uploadFileData){
                                let date = new Date(uploadFileData.record.create_datetime)
                                return GetFormattedDate(date);
                            }
                        },
                        functions: {
                            title: 'Download',
                            width: '1%',
                            sorting: false,
                            edit: false,
                            create: false,
                            display: function (uploadFileData) {
                                let url = encodeURI(uploadFileData.record.file_path);
                                return $(`<td><a href="${url}" target="_blank" download>${uploadFileData.record.file_name}</a></td>`);
                            }
                        },
                    }
                };
            }

            function GetFormattedDate(date) {
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var day  = ("0" + (date.getDate())).slice(-2);
                var year = date.getFullYear();
                var hour =  ("0" + (date.getHours())).slice(-2);
                var min =  ("0" + (date.getMinutes())).slice(-2);
                var seg = ("0" + (date.getSeconds())).slice(-2);
                return year + "-" + month + "-" + day + " " + hour + ":" +  min + ":" + seg;
            }

		</script>
    </body>
</html>


