@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-hant">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />
        <link href="~/css/apprise.css" rel="stylesheet" type="text/css" />

        <title>Cron mode Setting</title>
    </head>
    <body>
        <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
        <div class=topic>Parameter Setting</div>
        <div class="mt-10">
            <span> Homepage Update Frequency : </span>
            <input type="number" value="" /> <span>sec</span>
        </div>

        <input class="mt-10" type=submit value="Save" style="width:100px">
    </body>
</html>


