@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/tool.js"></script>
        <script type="text/javascript" src="~/js/command.js"></script>

        <title>Menu Set</title>
    </head>

    <body>
        <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
        <div class=topic>PermissionSetting > Menu Set</div>

        <div>
            <form method="post" class="form" action="" enctype="multipart/form-data">
                <table width="100%" id="edit_command_table" aria-describedby="edit_command_table">
                     <tr style="display:none;">                
                        <th scope="col"></th>
                    </tr>
                    <tbody>
                        <tr>
                            <td width=8%>Role Name</td>
                            <td>
                                <input type="text" name="Command_Name" value="@Model?.Command_Name">
                                <input type="hidden" name="Command_Id" value="@Model?.Command_Id">
                            </td>
                        </tr>
                        <tr>
                            <td>System enquire</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Model enquire</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Model rerun</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>Rescue tools</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>Maintain tools</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>Reference info</td>
                            <td>
                                <input type="checkbox" id="Menu1" name="Menu1"> <label for="Menu1"> ALL</label>
                                <input type="checkbox" id="Menu2" name="Menu2"> <label for="Menu2"> NWP running jobs</label>
                                <input type="checkbox" id="Menu3" name="Menu3"> <label for="Menu3"> CRON table status</label>
                                <input type="checkbox" id="Menu4" name="Menu4"> <label for="Menu4"> HPC system status</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <input type="submit" value="Save">
                    <input type="button" value="Exit" onclick="if (confirm('Exit this edit page without saving?')){location.href='';}">
                </div>
            </form>
        </div>
    </body>
</html>


