@using UIQ.Controllers
@{
	Layout = null;
}

<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<title>Set typhoon data</title>
<div class="topic">Maintain tools > Set typhoon data</div>
<h1>Edit the typhoon initial data</h1>
<strong>Total Typhoon number<span style="color:red;">* </span></strong>
<input type="text" id="adjust">
<input id="btnSubmit" type="submit" value="input">
<p class="input_description"> (請輸入目前TD+TY 總數量)</p>
<br>
<hr>
<br>

<div id="typhoon_data_form" class="typhoon_setting_block">
	<div id="form_content">Typhoon Data...</div>
</div>

<div id="typhoon_file_info" class="typhoon_setting_block">
	<div id="file_content">File Content...</div>
	<div id="file_created_result"></div>
</div>

<script>
	function getTyphoonSetDatas(){
		$.ajax({
			url: '@Url.Action(nameof(GetHtmlController.GetTyphoonSetDatas), "GetHtml")',
			type: 'POST',
			dataType: 'json',
			data: $('#typhoonSetDataFrom').serialize(),
			error: function () {
				alert("Syntax error on " + uri);
			},
			success: function (response) {
				if(response.success){
					setFileContent(response.data)
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
				
			}

		});
	}

	function setFileContent(typhoonSetDatas) {
		let dtg = $('#dtg').val();
		if(typhoonSetDatas.some(item => (!item.name) || (!item.lat) || (!item.lng) || (!dtg) )){
			alert('*欄位必填');
			return false;
		}

		let dirNameParameters = [
			{ DirName : "ty", FilePrefix : "dat" },
            { DirName : "ty", FilePrefix : "txt" },
            { DirName : "tdty", FilePrefix : "dat" },
            { DirName : "tdty", FilePrefix : "txt" }
		];
		
        let html = `<font size="1">
						<table class="xdebug-error xe-notice" dir="ltr" border="1" cellspacing="0" cellpadding="1"></table>
					</font>`;

		let groupDirNameParam = dirNameParameters.groupBy('DirName');
		html += getFileContentByDirectoryName('ty', groupDirNameParam, typhoonSetDatas, dtg);
		html += getFileContentByDirectoryName('tdty', groupDirNameParam, typhoonSetDatas, dtg);
        html += `<br><input id="btnSubmit" type="button" class="form" value="Submit" onclick="saveTyphoonSetDatas();">`;

		$('#file_content').html(html);
	}

	function getFileContentByDirectoryName(directoryName, groupDirNameParam, typhoonSetDatas, dtg){
		let html = '';
		groupDirNameParam[directoryName].forEach(dirNameParam => {
			let isDatType = dirNameParam.FilePrefix == 'dat';
			let dataCount = directoryName === 'ty' ? typhoonSetDatas.filter(item => !item.name.startsWith('TD')).length : typhoonSetDatas.length;
			let content = `${(isDatType ? '' : `20${dtg}<br>`)}${dataCount}<br>`;

			typhoonSetDatas.forEach(data => {
				if(directoryName === 'ty' && data.name.startsWith('TD')){
					 return;
				}
				content += `${padRight(htmlEncode(data.name), (isDatType ? 8 : 15), ' ')} ${padLeft(htmlEncode(parseFloat(data.lat).toFixed(1)), 4, ' ')} N ${padLeft(htmlEncode(parseFloat(data.lng).toFixed(1)), 5, ' ')} E ${padLeft(htmlEncode(parseFloat(data.latBefore6Hours).toFixed(1)), 4, ' ')} N ${padLeft(htmlEncode(parseFloat(data.lngBefore6Hours).toFixed(1)), 5, ' ')} E ${padLeft(htmlEncode(data.centerPressure), 4, ' ')} MB ${padLeft(htmlEncode(data.radius15MPerS), 3, ' ')} KM ${padLeft(htmlEncode(data.maximumSpeed), 2, ' ')} M/S ${padLeft(htmlEncode(data.radius25MPerS), 3, ' ')} KM<br>`;
			});

			html += `<h4 class="typhoon_file_name">${dirNameParam.DirName}/typhoon${dtg}.${dirNameParam.FilePrefix}</h4>
					<div id='${dirNameParam.DirName}_${dirNameParam.FilePrefix}_content'>
						<pre>${content}</pre>
					</div>`;
		});

		return html;
	}

	function saveTyphoonSetDatas(){
		$.ajax({
			url: '@Url.Action(nameof(MaintainToolsController.SaveTyphoonData), "MaintainTools")',
			type: 'POST',
			dataType: 'json',
			data: $('#typhoonSetDataFrom').serialize(),
			error: function () {
				alert("Syntax error on " + '@(Url.Action(nameof(MaintainToolsController.SaveTyphoonData), "MaintainTools"))');
			},
			success: function (response) {
				if(response.success){
					let dataHtml = '';
					response.data.forEach(item => dataHtml += `${htmlEncode(item)}<br>`);
					$('#file_created_result').html(dataHtml);
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
				
			}

		});
	}

	$('#btnSubmit').click(function(e){
		let generateCount = parseInt($('#adjust').val());
		if(!generateCount || generateCount == 0){
			e.preventDefault();
			e.stopPropagation();
			return false;
		}
		
		let typhoonEntry = ["Name", "Lat.", "Long.", "6-hr ago Lat.", "6-hr ago Long.", "Center Pressure", "15M/S Radius", "Maximum Speed", "25M/S Radius"];
        let requiredEntry = ["Name", "Lat.", "Long."];
		let typhoonEntryNames = [
            'Name',
            'Lat',
            'Lng',
            'LatBefore6Hours',
            'LngBefore6Hours',
            'CenterPressure',
            'Radius15MPerS',
            'MaximumSpeed',
            'Radius25MPerS'
        ];
		let formatDescription = [
			"(颱風/TD 名稱：PHANFONE/TD201905)",
            "(緯度：13.9) (填寫範圍: 0.0~90.0)",
            "(經度：117.7) (填寫範圍: 0.0~180.0)",
            "(6hr 前緯度：13.4) (填寫範圍: 0.0~90.0)",
            "(6hr 前經度：118.0) (填寫範圍: 0.0~180.0)",
            "(中心氣壓：965)",
            "(七級風暴風半徑：180)",
            "(最大風速：35)",
            "(十級風暴風半徑：50)"
		];

		let newDataHtml = '';
		for(let i = 0; i < generateCount; i++){
			for (let colIdx = 0; colIdx < typhoonEntry.length; colIdx++)
            {
                newDataHtml += `<tr>
							<td>${typhoonEntry[colIdx]} ${(requiredEntry.includes(typhoonEntry[colIdx]) ? '<font color="red">*</font>:</td>' : '')}
							<td><input type="text" value="" name="TyphoonSetDatas[${i}].${typhoonEntryNames[colIdx]}"></td>
							<td class=""input_description"">${formatDescription[colIdx]}</td>
						</tr>`;
            }

            newDataHtml += "<tr><td><hr></td><td><hr></td></tr>";
		}

		let generateHtmlBase = `<form id="typhoonSetDataFrom">
									<table>
									<tr>
										<td>DTG<font color="red"><font>*</font>:</td>
										<td><input id="dtg" type="text" value="" name="dtg"></td>
										<td class="input_description">(DTG:19122612)<br></td>
									</tr>
									<tr style="display:none;">
										<td>Typhoon number:</td>
										<td><input id="num" type="text" value="${generateCount}" name="num" disabled></td>
									</tr>
									<tr>
										<td><hr></td>
										<td><hr></td>
									</tr>
									${newDataHtml}
									<tr>
										<td></td>
											<td>
												<input id="btnView" type="button" class="form" value="View">
											</td>
									</tr>
									</table>
								</form>`;

		$('#form_content').html(generateHtmlBase);

		$('#btnView').click(getTyphoonSetDatas);
	});
</script>
